n8n-scraping-questoes/Dashboard TEC Scraper - Completo.json
{
  "name": "Dashboard TEC Scraper - Completo",
  "nodes": [
    {
      "parameters": {
        "path": "p",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        256
      ],
      "id": "a80aa668-528f-4ed6-b531-23e823a2f3d2",
      "name": "Webhook HTML",
      "webhookId": "dashboard-html"
    },
    {
      "parameters": {
        "path": "dashboard-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        432
      ],
      "id": "67a48491-9f42-4264-b86c-c9b2e90d4218",
      "name": "Webhook Data",
      "webhookId": "dashboard-data"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        256
      ],
      "id": "a498b401-873a-4c10-be19-25e23755d731",
      "name": "Respond HTML"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Query COMPLETA para monitoramento de scraping\n-- Cole este código no nó \"Supabase Query\" no campo \"Query\"\n\nSELECT json_build_object(\n  'stats', json_build_object(\n    'total', (SELECT COUNT(*) FROM questoes_concurso),\n    'ultimas24h', (SELECT COUNT(*) FROM questoes_concurso WHERE created_at >= NOW() - INTERVAL '24 hours'),\n    'ultimas1h', (SELECT COUNT(*) FROM questoes_concurso WHERE created_at >= NOW() - INTERVAL '1 hour'),\n    'ultimos5min', (SELECT COUNT(*) FROM questoes_concurso WHERE created_at >= NOW() - INTERVAL '5 minutes'),\n    'materias', (SELECT COUNT(DISTINCT materia) FROM questoes_concurso WHERE materia IS NOT NULL),\n    'bancas', (SELECT COUNT(DISTINCT banca) FROM questoes_concurso WHERE banca IS NOT NULL),\n    'concursos', (SELECT COUNT(DISTINCT concurso) FROM questoes_concurso WHERE concurso IS NOT NULL)\n  ),\n  \n  'velocidade', (\n    SELECT json_build_object(\n      'questoes_por_minuto', ROUND(\n        CASE \n          WHEN EXTRACT(EPOCH FROM (MAX(created_at) - MIN(created_at))) > 0 \n          THEN (19.0 / (EXTRACT(EPOCH FROM (MAX(created_at) - MIN(created_at))) / 60.0))\n          ELSE 0 \n        END, 2\n      ),\n      'ultima_questao', MAX(created_at),\n      'scraper_ativo', (MAX(created_at) >= NOW() - INTERVAL '5 minutes'),\n      'tempo_decorrido_minutos', ROUND(\n        (EXTRACT(EPOCH FROM (MAX(created_at) - MIN(created_at))) / 60.0)::numeric, 2\n      )\n    )\n    FROM (\n      SELECT created_at \n      FROM questoes_concurso \n      ORDER BY created_at DESC \n      LIMIT 20\n    ) ultimas20\n  ),\n  \n  'atividade_hora', (\n    SELECT json_agg(json_build_object('hora', hora, 'count', count) ORDER BY hora)\n    FROM (\n      SELECT \n        EXTRACT(HOUR FROM created_at)::integer as hora,\n        COUNT(*) as count\n      FROM questoes_concurso\n      WHERE created_at >= NOW() - INTERVAL '24 hours'\n      GROUP BY EXTRACT(HOUR FROM created_at)\n      ORDER BY hora\n    ) t\n  ),\n  \n  'ultimas_questoes', (\n    SELECT json_agg(json_build_object(\n      'id', id,\n      'materia', materia,\n      'banca', banca,\n      'concurso', concurso,\n      'enunciado_preview', LEFT(enunciado, 100),\n      'enunciado', enunciado,\n      'created_at', created_at,\n      'segundos_atras', EXTRACT(EPOCH FROM (NOW() - created_at))::integer\n    ))\n    FROM (\n      SELECT id, materia, banca, concurso, enunciado, created_at\n      FROM questoes_concurso\n      ORDER BY created_at DESC\n      LIMIT 10\n    ) t\n  ),\n  \n  'questoes', (\n    SELECT json_agg(json_build_object(\n      'id', id,\n      'materia', materia,\n      'assunto', assunto,\n      'concurso', concurso,\n      'enunciado', enunciado,\n      'gabarito', gabarito,\n      'banca', banca,\n      'ano', ano,\n      'created_at', created_at\n    ))\n    FROM (\n      SELECT \n        id, materia, assunto, concurso, enunciado, \n        gabarito, banca, ano, created_at\n      FROM questoes_concurso\n      ORDER BY created_at DESC\n    ) t\n  )\n) as data;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -400,
        432
      ],
      "id": "63d7f8aa-a4b5-4220-8e38-191d9405b19a",
      "name": "Supabase Query",
      "credentials": {
        "postgres": {
          "id": "dwoxMkjxIMRkgBM3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Código para o nó \"Process Data\" (JavaScript)\n// Cole este código no campo \"JavaScript Code\"\n\nconst items = $input.all();\n\n// Pegar o primeiro resultado (que contém o JSON do SQL)\nconst rawData = items[0].json;\n\n// Extrair o campo 'data' que contém todo o JSON estruturado\nconst result = rawData.data;\n\n// Retornar o resultado limpo\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        432
      ],
      "id": "5abada97-333a-4585-b793-72a73a2ca8b4",
      "name": "Process Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        432
      ],
      "id": "53d85482-facc-4388-b9a2-d2ad684df40c",
      "name": "Respond Data"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Monitoramento TEC Scraper</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js\"></script>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #0a0a0a; color: #e5e5e5; padding: 20px; min-height: 100vh; }\n        .container { max-width: 1800px; margin: 0 auto; }\n        header { text-align: center; margin-bottom: 30px; position: relative; }\n        h1 { font-size: 32px; font-weight: 600; margin-bottom: 8px; color: #ffffff; letter-spacing: -0.5px; }\n        .subtitle { font-size: 14px; color: #888; font-weight: 400; }\n        .header-actions { position: absolute; top: 0; right: 0; display: flex; gap: 10px; }\n        .header-btn { padding: 8px 16px; border-radius: 8px; border: 1px solid #2a2a2a; background: #1a1a1a; color: #e5e5e5; cursor: pointer; font-size: 13px; transition: all 0.2s ease; display: flex; align-items: center; gap: 8px; }\n        .header-btn:hover { background: #2a2a2a; border-color: #3a3a3a; transform: translateY(-1px); }\n        .header-btn.export { background: #00ff88; color: #000; border: none; }\n        .header-btn.export:hover { background: #00e67a; }\n        .stats-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); gap: 15px; margin-bottom: 25px; }\n        .card { background: #1a1a1a; border-radius: 12px; padding: 20px; border: 1px solid #2a2a2a; transition: all 0.2s ease; }\n        .card:hover { border-color: #3a3a3a; transform: translateY(-2px); }\n        .card h3 { font-size: 11px; font-weight: 500; color: #888; margin-bottom: 12px; text-transform: uppercase; letter-spacing: 1px; }\n        .big-number { font-size: 32px; font-weight: 600; color: #ffffff; }\n        .small-text { font-size: 11px; color: #666; margin-top: 4px; }\n        .highlight { color: #00ff88; }\n        .monitoring-grid { display: grid; grid-template-columns: 2fr 1fr; gap: 15px; margin-bottom: 25px; }\n        .chart-card { background: #1a1a1a; border-radius: 12px; padding: 24px; border: 1px solid #2a2a2a; }\n        .chart-card h3 { font-size: 16px; font-weight: 600; color: #ffffff; margin-bottom: 20px; }\n        .chart-container { position: relative; height: 300px; }\n        .latest-questions { background: #1a1a1a; border-radius: 12px; padding: 24px; border: 1px solid #2a2a2a; max-height: 400px; overflow-y: auto; }\n        .latest-questions h3 { font-size: 16px; font-weight: 600; color: #ffffff; margin-bottom: 20px; }\n        .question-item { padding: 12px; background: #0a0a0a; border-radius: 8px; margin-bottom: 10px; border-left: 3px solid #00ff88; }\n        .question-item .meta { display: flex; gap: 10px; font-size: 11px; color: #888; margin-bottom: 6px; flex-wrap: wrap; }\n        .question-item .preview { font-size: 13px; color: #e5e5e5; line-height: 1.4; }\n        .question-item .time { font-size: 10px; color: #666; margin-top: 6px; }\n        .question-item .time.recent { color: #00ff88; font-weight: 600; }\n        .filters-section { background: #1a1a1a; border-radius: 12px; padding: 24px; margin-bottom: 25px; border: 1px solid #2a2a2a; }\n        .filters-section h3 { margin-bottom: 20px; font-size: 16px; font-weight: 600; color: #ffffff; }\n        .filters-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 15px; margin-bottom: 15px; }\n        .filter-group { display: flex; flex-direction: column; }\n        .filter-group label { font-size: 11px; margin-bottom: 6px; color: #888; text-transform: uppercase; letter-spacing: 0.5px; font-weight: 500; }\n        .filter-group input, .filter-group select { padding: 10px 12px; border-radius: 8px; border: 1px solid #2a2a2a; background: #0a0a0a; color: #e5e5e5; font-size: 14px; outline: none; transition: all 0.2s ease; }\n        .filter-group input::placeholder { color: #555; }\n        .filter-group input:focus, .filter-group select:focus { border-color: #ffffff; background: #000000; }\n        .filter-group select option { background: #1a1a1a; color: #e5e5e5; }\n        .filter-actions { display: flex; gap: 10px; margin-top: 15px; flex-wrap: wrap; }\n        .btn { padding: 10px 20px; border-radius: 8px; border: none; font-size: 13px; font-weight: 500; cursor: pointer; transition: all 0.2s ease; text-transform: uppercase; letter-spacing: 0.5px; }\n        .btn-primary { background: #ffffff; color: #000000; }\n        .btn-primary:hover { background: #e5e5e5; transform: translateY(-1px); }\n        .btn-secondary { background: #2a2a2a; color: #e5e5e5; border: 1px solid #3a3a3a; }\n        .btn-secondary:hover { background: #3a3a3a; }\n        .btn-export { background: #00ff88; color: #000000; }\n        .btn-export:hover { background: #00e67a; transform: translateY(-1px); }\n        .questions-table { background: #1a1a1a; border-radius: 12px; padding: 24px; border: 1px solid #2a2a2a; overflow-x: auto; }\n        .questions-table h3 { margin-bottom: 20px; font-size: 16px; font-weight: 600; color: #ffffff; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 10px; }\n        .results-count { font-size: 13px; color: #888; font-weight: 400; }\n        .table-actions { display: flex; gap: 10px; align-items: center; }\n        table { width: 100%; border-collapse: collapse; min-width: 900px; }\n        thead { background: #0a0a0a; position: sticky; top: 0; z-index: 10; }\n        th { padding: 12px 10px; text-align: left; font-size: 11px; text-transform: uppercase; letter-spacing: 0.5px; font-weight: 600; color: #888; border-bottom: 1px solid #2a2a2a; cursor: pointer; user-select: none; }\n        th:hover { color: #ffffff; }\n        th.sortable::after { content: ' ⇅'; opacity: 0.3; }\n        th.sorted-asc::after { content: ' ↑'; opacity: 1; color: #00ff88; }\n        th.sorted-desc::after { content: ' ↓'; opacity: 1; color: #00ff88; }\n        tbody tr { border-bottom: 1px solid #2a2a2a; transition: background 0.2s ease; }\n        tbody tr:hover { background: #0a0a0a; }\n        td { padding: 14px 10px; font-size: 13px; color: #e5e5e5; }\n        .id-cell { font-weight: 600; color: #ffffff; font-size: 14px; }\n        .enunciado-cell { max-width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }\n        .enunciado-cell:hover { color: #00ff88; }\n        .badge { display: inline-block; padding: 4px 10px; border-radius: 6px; font-size: 11px; font-weight: 500; text-transform: uppercase; letter-spacing: 0.3px; background: #2a2a2a; color: #e5e5e5; }\n        .pagination { display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 20px; flex-wrap: wrap; }\n        .pagination button { padding: 8px 15px; border-radius: 6px; border: 1px solid #2a2a2a; background: #1a1a1a; color: #e5e5e5; cursor: pointer; transition: all 0.2s ease; font-size: 13px; }\n        .pagination button:hover:not(:disabled) { background: #2a2a2a; }\n        .pagination button:disabled { opacity: 0.3; cursor: not-allowed; }\n        .pagination .page-info { padding: 0 15px; font-size: 13px; color: #888; }\n        .pagination select { padding: 6px 10px; border-radius: 6px; border: 1px solid #2a2a2a; background: #1a1a1a; color: #e5e5e5; font-size: 13px; cursor: pointer; }\n        .loading { text-align: center; padding: 40px; font-size: 14px; color: #888; }\n        .spinner { border: 2px solid #2a2a2a; border-top: 2px solid #ffffff; border-radius: 50%; width: 32px; height: 32px; animation: spin 1s linear infinite; margin: 20px auto; }\n        @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }\n        .last-update { text-align: center; margin-top: 20px; color: #555; font-size: 11px; }\n        .debug-panel { background: #2a2a2a; color: #00ff88; padding: 10px; border-radius: 8px; margin: 10px 0; font-family: monospace; font-size: 11px; max-height: 150px; overflow-y: auto; display: none; }\n        .debug-panel.show { display: block; }\n        .modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 1000; align-items: center; justify-content: center; padding: 20px; }\n        .modal.active { display: flex; }\n        .modal-content { background: #1a1a1a; border-radius: 12px; padding: 30px; max-width: 800px; width: 100%; max-height: 80vh; overflow-y: auto; border: 1px solid #2a2a2a; }\n        .modal-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }\n        .modal-header h2 { font-size: 20px; color: #ffffff; }\n        .modal-close { background: none; border: none; color: #888; font-size: 24px; cursor: pointer; padding: 0; width: 30px; height: 30px; }\n        .modal-close:hover { color: #ffffff; }\n        .modal-body { color: #e5e5e5; line-height: 1.6; }\n        .modal-body .field { margin-bottom: 20px; }\n        .modal-body .field-label { font-size: 11px; color: #888; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 8px; font-weight: 500; }\n        .modal-body .field-value { font-size: 14px; color: #e5e5e5; }\n        @media (max-width: 1200px) { .monitoring-grid { grid-template-columns: 1fr; } }\n        @media (max-width: 768px) { \n            .stats-grid { grid-template-columns: repeat(2, 1fr); }\n            .header-actions { position: static; margin-top: 15px; justify-content: center; }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Monitoramento TEC Scraper</h1>\n            <p class=\"subtitle\">Dashboard em tempo real</p>\n            <div class=\"header-actions\">\n                <button class=\"header-btn\" onclick=\"toggleDebug()\">\n                    <span>🔍</span> Debug\n                </button>\n                <button class=\"header-btn\" onclick=\"loadData(true)\">\n                    <span>🔄</span> Atualizar\n                </button>\n                <button class=\"header-btn export\" onclick=\"exportarCSV()\">\n                    <span>📥</span> Exportar CSV\n                </button>\n            </div>\n        </header>\n        \n        <div id=\"debugPanel\" class=\"debug-panel\"></div>\n        \n        <div class=\"stats-grid\">\n            <div class=\"card\"><h3>Total</h3><div class=\"big-number\" id=\"total\">-</div></div>\n            <div class=\"card\">\n                <h3>Velocidade (20q)</h3>\n                <div class=\"big-number highlight\" id=\"velocidade\">-</div>\n                <div class=\"small-text\">questões/min</div>\n                <div class=\"small-text\" id=\"tempoDecorrido\" style=\"margin-top: 8px; color: #555;\">-</div>\n            </div>\n            <div class=\"card\"><h3>Última 1h</h3><div class=\"big-number\" id=\"ultimas1h\">-</div></div>\n            <div class=\"card\"><h3>Últimas 24h</h3><div class=\"big-number\" id=\"ultimas24h\">-</div></div>\n            <div class=\"card\"><h3>Últimos 5min</h3><div class=\"big-number\" id=\"ultimos5min\">-</div></div>\n            <div class=\"card\"><h3>Matérias</h3><div class=\"big-number\" id=\"materias\">-</div></div>\n            <div class=\"card\"><h3>Bancas</h3><div class=\"big-number\" id=\"bancas\">-</div></div>\n            <div class=\"card\"><h3>Filtradas</h3><div class=\"big-number\" id=\"filtradas\">-</div></div>\n        </div>\n        \n        <div class=\"monitoring-grid\">\n            <div class=\"chart-card\">\n                <h3>Atividade (Últimas 24h)</h3>\n                <div class=\"chart-container\">\n                    <canvas id=\"activityChart\"></canvas>\n                </div>\n            </div>\n            <div class=\"latest-questions\">\n                <h3>Últimas Questões</h3>\n                <div id=\"latestQuestions\"><div class=\"loading\"><div class=\"spinner\"></div>Carregando...</div></div>\n            </div>\n        </div>\n        \n        <div class=\"filters-section\">\n            <h3>Filtros</h3>\n            <div class=\"filters-grid\">\n                <div class=\"filter-group\"><label>ID</label><input type=\"text\" id=\"filtroId\" placeholder=\"Ex: 123456\"></div>\n                <div class=\"filter-group\"><label>Matéria</label><select id=\"filtroMateria\"><option value=\"\">Todas</option></select></div>\n                <div class=\"filter-group\"><label>Banca</label><select id=\"filtroBanca\"><option value=\"\">Todas</option></select></div>\n                <div class=\"filter-group\"><label>Concurso</label><select id=\"filtroConcurso\"><option value=\"\">Todos</option></select></div>\n                <div class=\"filter-group\"><label>Ano</label><select id=\"filtroAno\"><option value=\"\">Todos</option></select></div>\n                <div class=\"filter-group\"><label>Gabarito</label><select id=\"filtroGabarito\"><option value=\"\">Todos</option><option value=\"A\">A</option><option value=\"B\">B</option><option value=\"C\">C</option><option value=\"D\">D</option><option value=\"E\">E</option></select></div>\n                <div class=\"filter-group\"><label>Enunciado</label><input type=\"text\" id=\"filtroBusca\" placeholder=\"Palavras-chave\"></div>\n            </div>\n            <div class=\"filter-actions\">\n                <button class=\"btn btn-primary\" onclick=\"aplicarFiltros()\">Filtrar</button>\n                <button class=\"btn btn-secondary\" onclick=\"limparFiltros()\">Limpar</button>\n                <button class=\"btn btn-export\" onclick=\"exportarFiltradas()\">Exportar Filtradas</button>\n            </div>\n        </div>\n        \n        <div class=\"questions-table\">\n            <h3>\n                <span>Questões</span>\n                <div class=\"table-actions\">\n                    <span class=\"results-count\" id=\"resultsCount\">-</span>\n                    <select id=\"itemsPerPage\" onchange=\"mudarItensPorPagina()\">\n                        <option value=\"25\">25 por página</option>\n                        <option value=\"50\" selected>50 por página</option>\n                        <option value=\"100\">100 por página</option>\n                        <option value=\"200\">200 por página</option>\n                    </select>\n                </div>\n            </h3>\n            <div id=\"tableContainer\"><div class=\"loading\"><div class=\"spinner\"></div>Carregando...</div></div>\n            <div class=\"pagination\" id=\"pagination\"></div>\n        </div>\n        \n        <div class=\"last-update\" id=\"lastUpdate\">Última atualização: --:--:--</div>\n    </div>\n    \n    <div class=\"modal\" id=\"questaoModal\">\n        <div class=\"modal-content\">\n            <div class=\"modal-header\">\n                <h2>Detalhes da Questão</h2>\n                <button class=\"modal-close\" onclick=\"fecharModal()\">×</button>\n            </div>\n            <div class=\"modal-body\" id=\"modalBody\"></div>\n        </div>\n    </div>\n    \n    <script>\n        (function() {\n            'use strict';\n            \n            const DATA_WEBHOOK = 'https://n8n.josejusto.com.br/webhook/dashboard-data';\n            let ITEMS_PER_PAGE = 50;\n            let DEBUG_MODE = false;\n            \n            let allQuestions = [];\n            let filteredQuestions = [];\n            let currentPage = 1;\n            let stats = {};\n            let activityChart = null;\n            let sortColumn = null;\n            let sortDirection = 'desc';\n            \n            function debugLog(message, data) {\n                const timestamp = new Date().toLocaleTimeString('pt-BR');\n                console.log(`[${timestamp}] ${message}`, data);\n                \n                if (DEBUG_MODE) {\n                    const panel = document.getElementById('debugPanel');\n                    const line = document.createElement('div');\n                    line.textContent = `[${timestamp}] ${message}: ${JSON.stringify(data, null, 2).substring(0, 200)}`;\n                    panel.appendChild(line);\n                    panel.scrollTop = panel.scrollHeight;\n                }\n            }\n            \n            window.toggleDebug = function() {\n                DEBUG_MODE = !DEBUG_MODE;\n                const panel = document.getElementById('debugPanel');\n                panel.classList.toggle('show');\n                if (DEBUG_MODE) {\n                    debugLog('Debug mode ativado', { time: new Date().toISOString() });\n                }\n            };\n            \n            async function loadData(forceRefresh = false) {\n                try {\n                    debugLog('=== INICIANDO CARREGAMENTO ===', { \n                        forceRefresh,\n                        currentTime: new Date().toISOString(),\n                        localTime: new Date().toLocaleString('pt-BR')\n                    });\n                    \n                    const url = forceRefresh ? `${DATA_WEBHOOK}?t=${Date.now()}` : DATA_WEBHOOK;\n                    \n                    const response = await fetch(url, {\n                        method: 'GET',\n                        headers: { \n                            'Accept': 'application/json',\n                            'Cache-Control': 'no-cache',\n                            'Pragma': 'no-cache'\n                        },\n                        cache: 'no-store'\n                    });\n                    \n                    if (!response.ok) {\n                        throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                    }\n                    \n                    const rawText = await response.text();\n                    debugLog('Response recebido', { \n                        length: rawText.length,\n                        preview: rawText.substring(0, 300)\n                    });\n                    \n                    const data = JSON.parse(rawText);\n                    \n                    debugLog('Dados parseados', {\n                        keys: Object.keys(data),\n                        statsKeys: data.stats ? Object.keys(data.stats) : null,\n                        velocidadeKeys: data.velocidade ? Object.keys(data.velocidade) : null,\n                        ultimasQuestoesCount: data.ultimas_questoes ? data.ultimas_questoes.length : 0,\n                        questoesCount: data.questoes ? data.questoes.length : 0\n                    });\n                    \n                    // Stats básicos\n                    stats = data.stats || {};\n                    document.getElementById('total').textContent = (stats.total || 0).toLocaleString('pt-BR');\n                    document.getElementById('ultimas24h').textContent = (stats.ultimas24h || 0).toLocaleString('pt-BR');\n                    document.getElementById('ultimas1h').textContent = (stats.ultimas1h || 0).toLocaleString('pt-BR');\n                    document.getElementById('ultimos5min').textContent = (stats.ultimos5min || 0).toLocaleString('pt-BR');\n                    document.getElementById('materias').textContent = stats.materias || 0;\n                    document.getElementById('bancas').textContent = stats.bancas || 0;\n                    \n                    debugLog('Stats exibidos', stats);\n                    \n                    // Velocidade\n                    const velocidade = data.velocidade || {};\n                    const qpm = velocidade.questoes_por_minuto || 0;\n                    const tempoMin = velocidade.tempo_decorrido_minutos || 0;\n                    const ultimaQuestao = velocidade.ultima_questao;\n                    \n                    debugLog('Velocidade', { \n                        qpm, \n                        tempoMin, \n                        ultimaQuestao,\n                        ultimaQuestaoLocal: ultimaQuestao ? new Date(ultimaQuestao).toLocaleString('pt-BR') : null\n                    });\n                    \n                    document.getElementById('velocidade').textContent = qpm.toFixed(1);\n                    document.getElementById('tempoDecorrido').textContent = tempoMin > 0 ? `em ${tempoMin} min` : 'calculando...';\n                    \n                    // Últimas questões - DIAGNÓSTICO DETALHADO\n                    if (data.ultimas_questoes && Array.isArray(data.ultimas_questoes)) {\n                        debugLog('=== ANALISANDO ÚLTIMAS QUESTÕES ===', {\n                            count: data.ultimas_questoes.length,\n                            firstQuestion: data.ultimas_questoes[0]\n                        });\n                        \n                        if (data.ultimas_questoes.length > 0) {\n                            const primeira = data.ultimas_questoes[0];\n                            const agora = new Date();\n                            \n                            debugLog('Comparação de tempo', {\n                                agoraISO: agora.toISOString(),\n                                agoraLocal: agora.toLocaleString('pt-BR'),\n                                agoraTimestamp: agora.getTime(),\n                                primeiraQuestao: primeira,\n                                segundosAtras: primeira.segundos_atras,\n                                calculado: 'Será recalculado no frontend'\n                            });\n                        }\n                        \n                        renderLatestQuestions(data.ultimas_questoes);\n                    } else {\n                        debugLog('ERRO: ultimas_questoes inválido', data.ultimas_questoes);\n                    }\n                    \n                    // Atividade\n                    if (data.atividade_hora && Array.isArray(data.atividade_hora)) {\n                        renderActivityChart(data.atividade_hora);\n                    }\n                    \n                    // Questões\n                    if (data.questoes && Array.isArray(data.questoes)) {\n                        allQuestions = data.questoes;\n                        filteredQuestions = [...allQuestions];\n                        \n                        // Diagnóstico das questões mais recentes\n                        const recent = allQuestions.slice(0, 5);\n                        debugLog('5 questões mais recentes', recent.map(q => ({\n                            id: q.id,\n                            created_at: q.created_at,\n                            created_at_local: new Date(q.created_at).toLocaleString('pt-BR'),\n                            minutosAtras: Math.floor((Date.now() - new Date(q.created_at).getTime()) / 60000)\n                        })));\n                        \n                        preencherFiltros();\n                        atualizarTabela();\n                        \n                        document.getElementById('filtradas').textContent = filteredQuestions.length.toLocaleString('pt-BR');\n                        document.getElementById('resultsCount').textContent = `${filteredQuestions.length} resultado(s)`;\n                    }\n                    \n                    document.getElementById('lastUpdate').textContent = `Última atualização: ${new Date().toLocaleTimeString('pt-BR')}`;\n                    debugLog('=== CARREGAMENTO CONCLUÍDO ===', { success: true });\n                    \n                } catch (error) {\n                    console.error('ERRO:', error);\n                    debugLog('ERRO FATAL', {\n                        message: error.message,\n                        stack: error.stack\n                    });\n                }\n            }\n            \n            window.loadData = loadData;\n            \n            function renderLatestQuestions(questions) {\n                const container = document.getElementById('latestQuestions');\n                \n                if (!questions || questions.length === 0) {\n                    container.innerHTML = '<p class=\"loading\">Nenhuma questão recente</p>';\n                    return;\n                }\n                \n                const agora = Date.now();\n                \n                container.innerHTML = questions.map((q, index) => {\n                    // Recalcular o tempo no frontend\n                    let segundosAtras;\n                    if (q.created_at) {\n                        const createdAt = new Date(q.created_at).getTime();\n                        segundosAtras = Math.floor((agora - createdAt) / 1000);\n                    } else if (q.segundos_atras !== undefined) {\n                        segundosAtras = q.segundos_atras;\n                    } else {\n                        segundosAtras = 0;\n                    }\n                    \n                    if (index === 0) {\n                        debugLog('Primeira questão - cálculo de tempo', {\n                            created_at: q.created_at,\n                            created_at_parsed: new Date(q.created_at).toLocaleString('pt-BR'),\n                            agora: new Date(agora).toLocaleString('pt-BR'),\n                            segundosAtras: segundosAtras,\n                            segundosAtrasOriginal: q.segundos_atras\n                        });\n                    }\n                    \n                    const tempoAtras = formatarTempoAtras(segundosAtras);\n                    const isRecent = segundosAtras < 300; // menos de 5 minutos\n                    \n                    return `\n                        <div class=\"question-item\">\n                            <div class=\"meta\">\n                                <span><strong>ID:</strong> ${q.id || '-'}</span>\n                                <span><strong>${q.banca || '-'}</strong></span>\n                                <span>${q.materia || '-'}</span>\n                            </div>\n                            <div class=\"preview\">${(q.enunciado_preview || q.enunciado || 'Sem enunciado').substring(0, 100)}...</div>\n                            <div class=\"time ${isRecent ? 'recent' : ''}\">${tempoAtras}</div>\n                        </div>\n                    `;\n                }).join('');\n            }\n            \n            function formatarTempoAtras(segundos) {\n                if (!segundos || segundos < 0) return '🟢 agora';\n                if (segundos < 60) return `🟢 ${Math.floor(segundos)}s atrás`;\n                if (segundos < 300) return `🟢 ${Math.floor(segundos / 60)}min atrás`; // Até 5min = verde\n                if (segundos < 3600) return `⚠️ ${Math.floor(segundos / 60)}min atrás`; // 5min-1h = amarelo\n                if (segundos < 86400) return `🔴 ${Math.floor(segundos / 3600)}h atrás`; // >1h = vermelho\n                return `🔴 ${Math.floor(segundos / 86400)}d atrás`;\n            }\n            \n            function renderActivityChart(data) {\n                const ctx = document.getElementById('activityChart');\n                \n                if (!data || data.length === 0) {\n                    console.warn('Sem dados para o gráfico');\n                    return;\n                }\n                \n                if (typeof Chart === 'undefined') {\n                    console.error('Chart.js não carregado!');\n                    return;\n                }\n                \n                data.sort((a, b) => a.hora - b.hora);\n                \n                const labels = data.map(d => `${d.hora}h`);\n                const counts = data.map(d => d.count);\n                \n                if (activityChart) {\n                    activityChart.destroy();\n                }\n                \n                try {\n                    activityChart = new Chart(ctx, {\n                        type: 'line',\n                        data: {\n                            labels: labels,\n                            datasets: [{\n                                label: 'Questões',\n                                data: counts,\n                                borderColor: '#00ff88',\n                                backgroundColor: 'rgba(0, 255, 136, 0.1)',\n                                tension: 0.4,\n                                fill: true,\n                                pointRadius: 4,\n                                pointHoverRadius: 6\n                            }]\n                        },\n                        options: {\n                            responsive: true,\n                            maintainAspectRatio: false,\n                            plugins: {\n                                legend: { display: false },\n                                tooltip: {\n                                    backgroundColor: '#1a1a1a',\n                                    borderColor: '#2a2a2a',\n                                    borderWidth: 1,\n                                    titleColor: '#ffffff',\n                                    bodyColor: '#e5e5e5',\n                                    padding: 12\n                                }\n                            },\n                            scales: {\n                                y: {\n                                    beginAtZero: true,\n                                    grid: { color: '#2a2a2a' },\n                                    ticks: { color: '#888' }\n                                },\n                                x: {\n                                    grid: { color: '#2a2a2a' },\n                                    ticks: { color: '#888' }\n                                }\n                            }\n                        }\n                    });\n                } catch (error) {\n                    console.error('Erro ao criar gráfico:', error);\n                }\n            }\n            \n            function preencherFiltros() {\n                const materias = [...new Set(allQuestions.map(q => q.materia).filter(Boolean))].sort();\n                document.getElementById('filtroMateria').innerHTML = '<option value=\"\">Todas</option>' + \n                    materias.map(m => `<option value=\"${escapeHtml(m)}\">${escapeHtml(m)}</option>`).join('');\n                \n                const bancas = [...new Set(allQuestions.map(q => q.banca).filter(Boolean))].sort();\n                document.getElementById('filtroBanca').innerHTML = '<option value=\"\">Todas</option>' + \n                    bancas.map(b => `<option value=\"${escapeHtml(b)}\">${escapeHtml(b)}</option>`).join('');\n                \n                const concursos = [...new Set(allQuestions.map(q => q.concurso).filter(Boolean))].sort();\n                debugLog('Concursos para filtro', { count: concursos.length, first10: concursos.slice(0, 10) });\n                document.getElementById('filtroConcurso').innerHTML = '<option value=\"\">Todos</option>' + \n                    concursos.map(c => `<option value=\"${escapeHtml(c)}\">${escapeHtml(c)}</option>`).join('');\n                \n                const anos = [...new Set(allQuestions.map(q => q.ano).filter(Boolean))].sort((a, b) => b - a);\n                document.getElementById('filtroAno').innerHTML = '<option value=\"\">Todos</option>' + \n                    anos.map(a => `<option value=\"${a}\">${a}</option>`).join('');\n            }\n            \n            function escapeHtml(text) {\n                const div = document.createElement('div');\n                div.textContent = text;\n                return div.innerHTML;\n            }\n            \n            window.aplicarFiltros = function() {\n                const filtroId = document.getElementById('filtroId').value.trim();\n                const filtroMateria = document.getElementById('filtroMateria').value;\n                const filtroBanca = document.getElementById('filtroBanca').value;\n                const filtroConcurso = document.getElementById('filtroConcurso').value;\n                const filtroAno = document.getElementById('filtroAno').value;\n                const filtroGabarito = document.getElementById('filtroGabarito').value;\n                const filtroBusca = document.getElementById('filtroBusca').value.toLowerCase();\n                \n                filteredQuestions = allQuestions.filter(q => {\n                    if (filtroId && !String(q.id).includes(filtroId)) return false;\n                    if (filtroMateria && q.materia !== filtroMateria) return false;\n                    if (filtroBanca && q.banca !== filtroBanca) return false;\n                    if (filtroConcurso && q.concurso !== filtroConcurso) return false;\n                    if (filtroAno && String(q.ano) !== filtroAno) return false;\n                    if (filtroGabarito && q.gabarito !== filtroGabarito) return false;\n                    if (filtroBusca && !q.enunciado?.toLowerCase().includes(filtroBusca)) return false;\n                    return true;\n                });\n                \n                currentPage = 1;\n                atualizarTabela();\n                document.getElementById('filtradas').textContent = filteredQuestions.length.toLocaleString('pt-BR');\n                document.getElementById('resultsCount').textContent = `${filteredQuestions.length} resultado(s)`;\n            };\n            \n            window.limparFiltros = function() {\n                document.getElementById('filtroId').value = '';\n                document.getElementById('filtroMateria').value = '';\n                document.getElementById('filtroBanca').value = '';\n                document.getElementById('filtroConcurso').value = '';\n                document.getElementById('filtroAno').value = '';\n                document.getElementById('filtroGabarito').value = '';\n                document.getElementById('filtroBusca').value = '';\n                window.aplicarFiltros();\n            };\n            \n            window.ordenarPor = function(column) {\n                if (sortColumn === column) {\n                    sortDirection = sortDirection === 'asc' ? 'desc' : 'asc';\n                } else {\n                    sortColumn = column;\n                    sortDirection = 'desc';\n                }\n                \n                filteredQuestions.sort((a, b) => {\n                    let valA = a[column];\n                    let valB = b[column];\n                    \n                    if (column === 'created_at') {\n                        valA = new Date(valA);\n                        valB = new Date(valB);\n                    }\n                    \n                    if (valA == null) return 1;\n                    if (valB == null) return -1;\n                    \n                    if (valA < valB) return sortDirection === 'asc' ? -1 : 1;\n                    if (valA > valB) return sortDirection === 'asc' ? 1 : -1;\n                    return 0;\n                });\n                \n                atualizarTabela();\n            };\n            \n            function atualizarTabela() {\n                const start = (currentPage - 1) * ITEMS_PER_PAGE;\n                const end = start + ITEMS_PER_PAGE;\n                const pageQuestions = filteredQuestions.slice(start, end);\n                \n                if (pageQuestions.length === 0) {\n                    document.getElementById('tableContainer').innerHTML = '<p class=\"loading\">Nenhuma questão encontrada</p>';\n                    document.getElementById('pagination').innerHTML = '';\n                    return;\n                }\n                \n                const html = `\n                    <table>\n                        <thead>\n                            <tr>\n                                <th class=\"sortable ${sortColumn === 'id' ? 'sorted-' + sortDirection : ''}\" onclick=\"ordenarPor('id')\">ID</th>\n                                <th class=\"sortable ${sortColumn === 'materia' ? 'sorted-' + sortDirection : ''}\" onclick=\"ordenarPor('materia')\">Matéria</th>\n                                <th>Enunciado</th>\n                                <th class=\"sortable ${sortColumn === 'gabarito' ? 'sorted-' + sortDirection : ''}\" onclick=\"ordenarPor('gabarito')\">Gabarito</th>\n                                <th class=\"sortable ${sortColumn === 'banca' ? 'sorted-' + sortDirection : ''}\" onclick=\"ordenarPor('banca')\">Banca</th>\n                                <th class=\"sortable ${sortColumn === 'concurso' ? 'sorted-' + sortDirection : ''}\" onclick=\"ordenarPor('concurso')\">Concurso</th>\n                                <th class=\"sortable ${sortColumn === 'ano' ? 'sorted-' + sortDirection : ''}\" onclick=\"ordenarPor('ano')\">Ano</th>\n                                <th class=\"sortable ${sortColumn === 'created_at' ? 'sorted-' + sortDirection : ''}\" onclick=\"ordenarPor('created_at')\">Data</th>\n                            </tr>\n                        </thead>\n                        <tbody>\n                            ${pageQuestions.map(q => `\n                                <tr>\n                                    <td class=\"id-cell\">${q.id}</td>\n                                    <td><span class=\"badge\">${escapeHtml(q.materia || '-')}</span></td>\n                                    <td class=\"enunciado-cell\" onclick=\"mostrarQuestao(${q.id})\" title=\"Clique para ver completo\">${escapeHtml((q.enunciado || 'Sem enunciado').substring(0, 80))}</td>\n                                    <td style=\"text-align:center;font-weight:700;font-size:16px;\">${q.gabarito || '-'}</td>\n                                    <td><span class=\"badge\">${escapeHtml(q.banca || '-')}</span></td>\n                                    <td><span class=\"badge\">${escapeHtml(q.concurso || '-')}</span></td>\n                                    <td><span class=\"badge\">${q.ano || '-'}</span></td>\n                                    <td>${formatarData(q.created_at)}</td>\n                                </tr>\n                            `).join('')}\n                        </tbody>\n                    </table>\n                `;\n                \n                document.getElementById('tableContainer').innerHTML = html;\n                \n                const totalPages = Math.ceil(filteredQuestions.length / ITEMS_PER_PAGE);\n                document.getElementById('pagination').innerHTML = `\n                    <button onclick=\"mudarPagina(1)\" ${currentPage === 1 ? 'disabled' : ''}>« Primeira</button>\n                    <button onclick=\"mudarPagina(${currentPage - 1})\" ${currentPage === 1 ? 'disabled' : ''}>← Anterior</button>\n                    <span class=\"page-info\">Página ${currentPage} de ${totalPages}</span>\n                    <button onclick=\"mudarPagina(${currentPage + 1})\" ${currentPage === totalPages ? 'disabled' : ''}>Próxima →</button>\n                    <button onclick=\"mudarPagina(${totalPages})\" ${currentPage === totalPages ? 'disabled' : ''}>Última »</button>\n                `;\n            }\n            \n            window.mudarPagina = function(page) {\n                const totalPages = Math.ceil(filteredQuestions.length / ITEMS_PER_PAGE);\n                if (page < 1 || page > totalPages) return;\n                currentPage = page;\n                atualizarTabela();\n                window.scrollTo({ top: 0, behavior: 'smooth' });\n            };\n            \n            window.mudarItensPorPagina = function() {\n                ITEMS_PER_PAGE = parseInt(document.getElementById('itemsPerPage').value);\n                currentPage = 1;\n                atualizarTabela();\n            };\n            \n            window.mostrarQuestao = function(id) {\n                const questao = allQuestions.find(q => q.id === id);\n                if (!questao) return;\n                \n                const modalBody = document.getElementById('modalBody');\n                modalBody.innerHTML = `\n                    <div class=\"field\"><div class=\"field-label\">ID</div><div class=\"field-value\">${questao.id}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Matéria</div><div class=\"field-value\">${escapeHtml(questao.materia || '-')}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Assunto</div><div class=\"field-value\">${escapeHtml(questao.assunto || '-')}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Banca</div><div class=\"field-value\">${escapeHtml(questao.banca || '-')}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Concurso</div><div class=\"field-value\">${escapeHtml(questao.concurso || '-')}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Ano</div><div class=\"field-value\">${questao.ano || '-'}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Enunciado</div><div class=\"field-value\" style=\"white-space: pre-wrap;\">${escapeHtml(questao.enunciado || 'Sem enunciado')}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Gabarito</div><div class=\"field-value\" style=\"font-size: 24px; font-weight: 700; color: #00ff88;\">${questao.gabarito || '-'}</div></div>\n                    <div class=\"field\"><div class=\"field-label\">Data de Criação</div><div class=\"field-value\">${formatarData(questao.created_at)}</div></div>\n                `;\n                \n                document.getElementById('questaoModal').classList.add('active');\n            };\n            \n            window.fecharModal = function() {\n                document.getElementById('questaoModal').classList.remove('active');\n            };\n            \n            window.onclick = function(event) {\n                const modal = document.getElementById('questaoModal');\n                if (event.target === modal) modal.classList.remove('active');\n            };\n            \n            window.exportarCSV = function() {\n                exportarParaCSV(allQuestions, 'questoes_completo.csv');\n            };\n            \n            window.exportarFiltradas = function() {\n                exportarParaCSV(filteredQuestions, 'questoes_filtradas.csv');\n            };\n            \n            function exportarParaCSV(data, filename) {\n                if (data.length === 0) {\n                    alert('Nenhuma questão para exportar!');\n                    return;\n                }\n                \n                const headers = ['ID', 'Matéria', 'Assunto', 'Banca', 'Concurso', 'Ano', 'Enunciado', 'Gabarito', 'Data'];\n                const rows = data.map(q => [\n                    q.id,\n                    q.materia || '',\n                    q.assunto || '',\n                    q.banca || '',\n                    q.concurso || '',\n                    q.ano || '',\n                    (q.enunciado || '').replace(/\"/g, '\"\"'),\n                    q.gabarito || '',\n                    q.created_at || ''\n                ]);\n                \n                let csv = headers.join(',') + '\\n';\n                csv += rows.map(row => row.map(cell => `\"${cell}\"`).join(',')).join('\\n');\n                \n                const blob = new Blob(['\\ufeff' + csv], { type: 'text/csv;charset=utf-8;' });\n                const link = document.createElement('a');\n                link.href = URL.createObjectURL(blob);\n                link.download = filename;\n                link.click();\n            }\n            \n            function formatarData(dateString) {\n                if (!dateString) return '-';\n                const date = new Date(dateString);\n                return date.toLocaleString('pt-BR', {\n                    day: '2-digit',\n                    month: '2-digit',\n                    year: 'numeric',\n                    hour: '2-digit',\n                    minute: '2-digit'\n                });\n            }\n            \n            // Auto-refresh a cada 15 segundos\n            setInterval(() => loadData(false), 15000);\n            \n            // Carregar dados ao iniciar\n            if (typeof Chart !== 'undefined') {\n                loadData(true);\n            } else {\n                window.addEventListener('load', function() {\n                    setTimeout(() => loadData(true), 100);\n                });\n            }\n        })();\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -400,
        256
      ],
      "id": "c211b347-e0bf-4af2-8d3e-c9d1ac756c4d",
      "name": "HTML1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook HTML": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Data": {
      "main": [
        [
          {
            "node": "Supabase Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Query": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6650f5b-03a3-4e63-a0eb-5591fe328da0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9b45529cf86eccbf9f8874147b43fca25c1ac8ce9ddc2f796df4ee92fe4b12b"
  },
  "id": "msGhio37MJPEKb1j",
  "tags": []
}