n8n-scraping-questoes/TESTE EXIBIÇÂO.json
{
  "name": "TESTE EXIBIÇÂO",
  "nodes": [
    {
      "parameters": {
        "path": "test_page",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "9811c3a2-6130-44fd-a931-5a2a6334f34e",
      "name": "Webhook",
      "webhookId": "e03a2dc6-539c-44a4-af82-ff58924b5464"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Questões de Concurso</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Roboto', sans-serif;\n            background: #1a1a1a;\n            min-height: 100vh;\n            padding: 20px;\n            color: #e0e0e0;\n        }\n\n        .container {\n            max-width: 1000px;\n            margin: 0 auto;\n        }\n\n        /* Header */\n        .header {\n            background: linear-gradient(135deg, #2c2c2c 0%, #1f1f1f 100%);\n            padding: 30px 40px;\n            border-radius: 8px;\n            margin-bottom: 25px;\n            border-left: 4px solid #d4af37;\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);\n        }\n\n        .header h1 {\n            color: #d4af37;\n            font-size: 28px;\n            font-weight: 700;\n            margin-bottom: 8px;\n            letter-spacing: 0.5px;\n        }\n\n        .header p {\n            color: #a0a0a0;\n            font-size: 15px;\n        }\n\n        /* Search Box */\n        .search-box {\n            background: #2c2c2c;\n            padding: 30px;\n            border-radius: 8px;\n            margin-bottom: 25px;\n            border: 1px solid #3a3a3a;\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);\n        }\n\n        .search-label {\n            display: block;\n            font-size: 13px;\n            font-weight: 600;\n            color: #d4af37;\n            margin-bottom: 12px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n\n        .input-group {\n            display: flex;\n            gap: 12px;\n        }\n\n        input[type=\"text\"] {\n            flex: 1;\n            padding: 14px 18px;\n            border: 1px solid #3a3a3a;\n            border-radius: 4px;\n            font-size: 15px;\n            font-family: 'Roboto', sans-serif;\n            transition: all 0.3s;\n            background: #1f1f1f;\n            color: #e0e0e0;\n        }\n\n        input[type=\"text\"]:focus {\n            outline: none;\n            border-color: #d4af37;\n            background: #252525;\n        }\n\n        input[type=\"text\"]::placeholder {\n            color: #666;\n        }\n\n        button {\n            padding: 14px 28px;\n            background: #d4af37;\n            color: #1a1a1a;\n            border: none;\n            border-radius: 4px;\n            font-size: 15px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n\n        button:hover {\n            background: #e0bb44;\n            transform: translateY(-1px);\n        }\n\n        button:active {\n            transform: translateY(0);\n        }\n\n        button:disabled {\n            background: #4a4a4a;\n            color: #666;\n            cursor: not-allowed;\n            transform: none;\n        }\n\n        /* Questão Card */\n        .questao-card {\n            background: #2c2c2c;\n            border-radius: 8px;\n            overflow: hidden;\n            display: none;\n            border: 1px solid #3a3a3a;\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);\n        }\n\n        .questao-card.show {\n            display: block;\n            animation: fadeIn 0.4s ease-out;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(20px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        .questao-header {\n            background: linear-gradient(135deg, #333333 0%, #2a2a2a 100%);\n            padding: 25px 30px;\n            border-bottom: 1px solid #3a3a3a;\n            border-left: 4px solid #d4af37;\n        }\n\n        .questao-titulo {\n            color: #d4af37;\n            font-size: 14px;\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: 12px;\n        }\n\n        .questao-id {\n            display: inline-block;\n            background: rgba(212, 175, 55, 0.15);\n            color: #d4af37;\n            padding: 6px 14px;\n            border-radius: 4px;\n            font-size: 13px;\n            font-weight: 600;\n            margin-bottom: 15px;\n            border: 1px solid rgba(212, 175, 55, 0.3);\n        }\n\n        .questao-subtitulo {\n            color: #a0a0a0;\n            font-size: 15px;\n            line-height: 1.6;\n            margin-bottom: 5px;\n        }\n\n        .questao-meta {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));\n            gap: 10px;\n            margin-top: 15px;\n            padding-top: 15px;\n            border-top: 1px solid #3a3a3a;\n        }\n\n        .meta-item {\n            font-size: 14px;\n            color: #888;\n        }\n\n        .meta-item strong {\n            color: #d4af37;\n            margin-right: 6px;\n            font-weight: 600;\n        }\n\n        /* Imagens */\n        .imagens-enunciado {\n            padding: 30px;\n            background: #252525;\n        }\n\n        .imagens-enunciado img {\n            max-width: 100%;\n            height: auto;\n            border-radius: 4px;\n            margin: 10px 0;\n            border: 1px solid #3a3a3a;\n        }\n\n        /* Enunciado */\n        .enunciado {\n            padding: 30px;\n            font-size: 16px;\n            line-height: 1.8;\n            color: #d0d0d0;\n            background: #2c2c2c;\n            border-left: 3px solid #d4af37;\n            margin: 0 30px;\n        }\n\n        .enunciado-label {\n            font-size: 12px;\n            font-weight: 700;\n            color: #d4af37;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: 15px;\n            display: block;\n        }\n\n        /* Alternativas */\n        .alternativas {\n            padding: 30px;\n        }\n\n        .alternativas-label {\n            font-size: 12px;\n            font-weight: 700;\n            color: #d4af37;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: 15px;\n            display: block;\n        }\n\n        .alternativa {\n            padding: 16px 18px;\n            margin: 10px 0;\n            border: 1px solid #3a3a3a;\n            border-radius: 4px;\n            cursor: pointer;\n            transition: all 0.3s;\n            display: flex;\n            align-items: flex-start;\n            background: #252525;\n        }\n\n        .alternativa:hover {\n            background: #2f2f2f;\n            border-color: #4a4a4a;\n        }\n\n        .alternativa.selected {\n            background: rgba(212, 175, 55, 0.1);\n            border-color: #d4af37;\n        }\n\n        .alternativa.correta {\n            background: rgba(76, 175, 80, 0.15);\n            border-color: #4caf50;\n        }\n\n        .alternativa.errada {\n            background: rgba(244, 67, 54, 0.15);\n            border-color: #f44336;\n        }\n\n        .alternativa-letra {\n            min-width: 35px;\n            height: 35px;\n            background: #3a3a3a;\n            color: #d4af37;\n            border-radius: 4px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-weight: 700;\n            font-size: 15px;\n            margin-right: 15px;\n            border: 1px solid #4a4a4a;\n        }\n\n        .alternativa.selected .alternativa-letra {\n            background: #d4af37;\n            color: #1a1a1a;\n        }\n\n        .alternativa.correta .alternativa-letra {\n            background: #4caf50;\n            color: white;\n            border-color: #4caf50;\n        }\n\n        .alternativa.errada .alternativa-letra {\n            background: #f44336;\n            color: white;\n            border-color: #f44336;\n        }\n\n        .alternativa-texto {\n            flex: 1;\n            font-size: 15px;\n            line-height: 1.6;\n            color: #d0d0d0;\n            padding-top: 5px;\n        }\n\n        /* Botões */\n        .btn-group {\n            display: flex;\n            gap: 12px;\n            padding: 0 30px 30px;\n        }\n\n        .btn-secondary {\n            background: #4a4a4a;\n            color: #d0d0d0;\n        }\n\n        .btn-secondary:hover {\n            background: #555;\n        }\n\n        .btn-success {\n            background: #4caf50;\n            color: white;\n        }\n\n        .btn-success:hover {\n            background: #5cb860;\n        }\n\n        /* Comentário */\n        .comentario {\n            display: none;\n            margin: 0 30px 30px;\n            padding: 25px;\n            background: rgba(212, 175, 55, 0.1);\n            border-radius: 4px;\n            border: 1px solid rgba(212, 175, 55, 0.3);\n            border-left: 4px solid #d4af37;\n        }\n\n        .comentario.show {\n            display: block;\n            animation: fadeIn 0.4s ease-out;\n        }\n\n        .comentario-header {\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            margin-bottom: 18px;\n            flex-wrap: wrap;\n            gap: 10px;\n        }\n\n        .comentario h3 {\n            color: #d4af37;\n            font-size: 16px;\n            font-weight: 700;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n\n        .gabarito {\n            display: inline-flex;\n            align-items: center;\n            background: #4caf50;\n            color: white;\n            padding: 8px 18px;\n            border-radius: 4px;\n            font-weight: 700;\n            font-size: 13px;\n        }\n\n        .comentario-texto {\n            color: #c0c0c0;\n            line-height: 1.8;\n            font-size: 15px;\n        }\n\n        /* Loading */\n        .loading {\n            text-align: center;\n            padding: 50px 20px;\n            background: #2c2c2c;\n            border-radius: 8px;\n            border: 1px solid #3a3a3a;\n        }\n\n        .loading-spinner {\n            width: 45px;\n            height: 45px;\n            margin: 0 auto 20px;\n            border: 3px solid #3a3a3a;\n            border-top-color: #d4af37;\n            border-radius: 50%;\n            animation: spin 1s linear infinite;\n        }\n\n        @keyframes spin {\n            to { transform: rotate(360deg); }\n        }\n\n        .loading-text {\n            color: #d4af37;\n            font-size: 15px;\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n\n        /* Error */\n        .error {\n            background: rgba(244, 67, 54, 0.15);\n            color: #ff6b6b;\n            padding: 16px;\n            border-radius: 4px;\n            border: 1px solid rgba(244, 67, 54, 0.3);\n            border-left: 4px solid #f44336;\n            margin: 15px 0;\n            font-weight: 500;\n        }\n\n        /* Timer Badge */\n        .timer {\n            display: inline-block;\n            background: rgba(212, 175, 55, 0.15);\n            color: #d4af37;\n            padding: 8px 15px;\n            border-radius: 4px;\n            font-size: 14px;\n            font-weight: 600;\n            border: 1px solid rgba(212, 175, 55, 0.3);\n        }\n\n        /* Responsive */\n        @media (max-width: 768px) {\n            .header {\n                padding: 25px 25px;\n            }\n\n            .header h1 {\n                font-size: 22px;\n            }\n\n            .search-box {\n                padding: 25px;\n            }\n\n            .input-group {\n                flex-direction: column;\n            }\n\n            .questao-header,\n            .enunciado,\n            .alternativas,\n            .btn-group,\n            .comentario {\n                padding-left: 20px;\n                padding-right: 20px;\n            }\n\n            .enunciado {\n                margin: 0 20px;\n            }\n\n            .questao-meta {\n                grid-template-columns: 1fr;\n            }\n\n            .btn-group {\n                flex-direction: column;\n            }\n\n            .comentario-header {\n                flex-direction: column;\n                align-items: flex-start;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>QUESTÕES DE CONCURSO</h1>\n            <p>Sistema de Preparação para Concursos Públicos</p>\n        </div>\n\n        <div class=\"search-box\">\n            <label class=\"search-label\">Buscar Questão</label>\n            <div class=\"input-group\">\n                <input \n                    type=\"text\" \n                    id=\"questaoId\" \n                    placeholder=\"Digite o ID da questão\"\n                    onkeypress=\"if(event.key === 'Enter') buscarQuestao()\"\n                >\n                <button onclick=\"buscarQuestao()\" id=\"btnBuscar\">\n                    Buscar\n                </button>\n            </div>\n            <div id=\"error\" class=\"error\" style=\"display: none;\"></div>\n        </div>\n\n        <div id=\"loading\" class=\"loading\" style=\"display: none;\">\n            <div class=\"loading-spinner\"></div>\n            <div class=\"loading-text\">Carregando...</div>\n        </div>\n\n        <div id=\"questaoCard\" class=\"questao-card\">\n            <!-- Conteúdo da questão será inserido aqui -->\n        </div>\n    </div>\n\n    <script>\n        let questaoAtual = null;\n        let alternativaSelecionada = null;\n        let respostaConferida = false;\n\n        async function buscarQuestao() {\n            const id = document.getElementById('questaoId').value.trim();\n            \n            if (!id) {\n                mostrarErro('Por favor, digite um ID válido');\n                return;\n            }\n\n            document.getElementById('error').style.display = 'none';\n            document.getElementById('questaoCard').classList.remove('show');\n            document.getElementById('loading').style.display = 'block';\n            document.getElementById('btnBuscar').disabled = true;\n            respostaConferida = false;\n\n            try {\n                const response = await fetch('https://n8n.appcodigodavida.com.br/webhook/112', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ id: id })\n                });\n\n                if (!response.ok) {\n                    throw new Error('Questão não encontrada');\n                }\n\n                const data = await response.json();\n                questaoAtual = Array.isArray(data) ? data[0] : data;\n                \n                renderizarQuestao(questaoAtual);\n                \n            } catch (error) {\n                mostrarErro('Erro: ' + error.message);\n            } finally {\n                document.getElementById('loading').style.display = 'none';\n                document.getElementById('btnBuscar').disabled = false;\n            }\n        }\n\n        function mostrarErro(mensagem) {\n            const errorDiv = document.getElementById('error');\n            errorDiv.textContent = mensagem;\n            errorDiv.style.display = 'block';\n        }\n\n        function renderizarQuestao(questao) {\n            alternativaSelecionada = null;\n            \n            // Parse das imagens do enunciado\n            let imagensHtml = '';\n            if (questao.imagens_enunciado_local) {\n                const urls = questao.imagens_enunciado_local\n                    .replace(/[{}]/g, '')\n                    .split(',')\n                    .map(url => url.trim())\n                    .filter(url => url.length > 0);\n                \n                if (urls.length > 0) {\n                    imagensHtml = '<div class=\"imagens-enunciado\">';\n                    urls.forEach((url, index) => {\n                        imagensHtml += `<img src=\"${url}\" alt=\"Imagem ${index + 1}\" loading=\"lazy\">`;\n                    });\n                    imagensHtml += '</div>';\n                }\n            }\n\n            // Renderiza alternativas\n            let alternativasHtml = '<div class=\"alternativas\">';\n            alternativasHtml += '<span class=\"alternativas-label\">Alternativas</span>';\n            questao.alternativas.forEach(alt => {\n                alternativasHtml += `\n                    <div class=\"alternativa\" onclick=\"selecionarAlternativa('${alt.letter}', event)\">\n                        <div class=\"alternativa-letra\">${alt.letter}</div>\n                        <div class=\"alternativa-texto\">${alt.text}</div>\n                    </div>\n                `;\n            });\n            alternativasHtml += '</div>';\n\n            const html = `\n                <div class=\"questao-header\">\n                    <div class=\"questao-titulo\">${questao.materia}</div>\n                    <div class=\"questao-id\">ID: ${questao.id}</div>\n                    <div class=\"questao-subtitulo\">${questao.concurso}</div>\n                    <div class=\"questao-meta\">\n                        <div class=\"meta-item\"><strong>Assunto:</strong> ${questao.assunto}</div>\n                        <div class=\"meta-item\"><strong>Banca:</strong> ${questao.banca}</div>\n                        <div class=\"meta-item\"><strong>Ano:</strong> ${questao.ano}</div>\n                        <div class=\"meta-item\"><strong>Prova:</strong> ${questao.prova}</div>\n                    </div>\n                </div>\n\n                ${imagensHtml}\n\n                <div class=\"enunciado\">\n                    <span class=\"enunciado-label\">Enunciado</span>\n                    ${questao.enunciado}\n                </div>\n\n                ${alternativasHtml}\n\n                <div class=\"btn-group\">\n                    <button onclick=\"conferirResposta()\" class=\"btn-success\">\n                        Conferir Resposta\n                    </button>\n                    <button class=\"btn-secondary\" onclick=\"mostrarComentario()\">\n                        Ver Comentário\n                    </button>\n                </div>\n\n                <div id=\"comentario\" class=\"comentario\">\n                    <div class=\"comentario-header\">\n                        <h3>Comentário do Professor</h3>\n                        <div class=\"gabarito\">Gabarito: ${questao.gabarito}</div>\n                    </div>\n                    <div class=\"comentario-texto\">${questao.comentario}</div>\n                </div>\n            `;\n\n            document.getElementById('questaoCard').innerHTML = html;\n            document.getElementById('questaoCard').classList.add('show');\n        }\n\n        function selecionarAlternativa(letra, event) {\n            if (respostaConferida) return;\n\n            document.querySelectorAll('.alternativa').forEach(el => {\n                el.classList.remove('selected');\n            });\n\n            event.currentTarget.classList.add('selected');\n            alternativaSelecionada = letra;\n        }\n\n        function conferirResposta() {\n            if (!alternativaSelecionada) {\n                alert('Selecione uma alternativa primeiro!');\n                return;\n            }\n\n            if (respostaConferida) return;\n\n            const gabarito = questaoAtual.gabarito;\n            respostaConferida = true;\n\n            document.querySelectorAll('.alternativa').forEach(el => {\n                const letra = el.querySelector('.alternativa-letra').textContent;\n                \n                if (letra === gabarito) {\n                    el.classList.add('correta');\n                } else if (letra === alternativaSelecionada) {\n                    el.classList.add('errada');\n                }\n                \n                el.style.cursor = 'default';\n                el.onclick = null;\n            });\n\n            document.getElementById('comentario').classList.add('show');\n        }\n\n        function mostrarComentario() {\n            const comentario = document.getElementById('comentario');\n            comentario.classList.toggle('show');\n        }\n\n        document.getElementById('questaoId').focus();\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "1aa8e875-a80f-4672-9ac1-9874ba6720c4",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        0
      ],
      "id": "2e6cf561-7f1f-4fcc-a3fa-2ac3cfc70008",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "112",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        288
      ],
      "id": "aabda9ca-764a-45fe-9a40-66b3677e8d0d",
      "name": "Webhook1",
      "webhookId": "5897d888-07fc-46ae-b627-abbe8b868525"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "questoes_concurso",
          "mode": "list",
          "cachedResultName": "questoes_concurso"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        288
      ],
      "id": "120bbdb2-699c-4b89-893e-1b3262251076",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "dwoxMkjxIMRkgBM3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        288
      ],
      "id": "1eceb009-aa47-4a52-adea-6e5f1e19a222",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.appcodigodavida.com.br",
            "x-real-ip": "170.247.111.22",
            "x-forwarded-for": "170.247.111.22",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "16",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-PT,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "1321835"
          },
          "webhookUrl": "https://n8n.appcodigodavida.com.br/webhook/112",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff847c75-565d-4d77-b5ff-d8894724999e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9b45529cf86eccbf9f8874147b43fca25c1ac8ce9ddc2f796df4ee92fe4b12b"
  },
  "id": "Tvj17rs5AzwUVcCu",
  "tags": []
}